<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    {% load static %}
    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="login-box">
  <h2>User Information</h2>
  <form action="/update/{{object.id}}" id = "form-id" method="POST">
       {% csrf_token %}
    <div class="user-box">
      <input type="text" name="name" required="" value="{{ object.username }}">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="text" name="password" required="" value="{{ object.password }}">
      <label>Password</label>
    </div>
    <div class="user-box">
      <input type="text" name="amount" required="" value="{{ object.amount }}">
      <label>Amount</label>
    </div>
    <a href="#" onclick="document.forms['form-id'].submit();">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
          Update
    </a>
  </form>
</div>
</body>
</html>